body{
  text-align: center;
  margin-left: 0px;
  margin-bottom: 0px;
  font-family: 'Merriweather', serif;

}

.top-container{

  background-color:#ddf3f5 ;
  height: 800px;
  position: relative;
  padding-top: 100px;
}
hr{
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: thick;
    height: 0px;
    width: 5%;
}

h1{
width: 20%;
margin: 0 auto;
font-family: 'Sacramento', cursive;

}
h2{
  font-family: 'Montserrat Alternates', sans-serif;
}
  h3{
    font-family: 'Montserrat Alternates', sans-serif;
  }
p{
  margin-left: 30px;
}

.top-cloud{
  position: absolute;
  right: 500px;
  top: 50px;
  bottom:100px;
}
.bottom-cloud{
  position: absolute;
  left: 500px;
  bottom: 620px;
  right: 100;
}
.middle-container{
  background-color: #f4f6ff;
}
.profile
img{
  width: auto;
  border-radius: 200px;
  height: 300px;
}
.bottom-container{
  background-color: #e5e5e5;
}
.skill-row
  img{
    border-radius: 100px;
    height: 100px;
  }
table{
  margin: 0 auto;
}
.experience
img{
  height: 100px;
  border-radius: 200px;
}
.contact-me
img{height: 100px;
  border-radius: 200px;

}
.reading

h3{
  display: block;
  padding: 20px;
}
.contact
{

}
.hobby
img{
  height: 100px;
  border-radius: 200px;
  width: 100px;
}
